/* Window display */
body, html {
    height: 100%;
    width: 100%;
    background-color: #EBEBEB;;
    font-family: 'Oswald', sans-serif;
    margin: 0;
  }

  /* Header */
  h1 {
    color: #4D5359;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80px;
    margin-top: 0;
  }

  #pong {
    color: blue;
  }

#start {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
/* Start up page */
  #start > div {
    text-align: center;
    position: fixed;
    pointer-events: none;
    transition: .5s;
    opacity: 0;
  }
  
  /* Pause animation */
  #start div.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 0;
  }
  
  /* Display */
  #start > #game {
    opacity: 1;
    transform: scale(1);
    z-index: 0;
  }
  
  #start > div.active ~ #game {
    opacity: .75;
    transform: scale(1);
    filter: blur(8px);
  }
  /* Interactive buttons */
  button {
    background-color: #4D5359;
    font-family: 'Oswald', sans-serif;
    color: #F5F5F5;
    border: 0;
    border-radius: 150px;
    padding: 7px 18px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 16px;
    min-width: 150px;
    opacity: .75;
    transition: .25s;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.6;
  }
  