body, html {
    height: 100%;
    width: 100%;
    background: #EBEBEB;
    font-family: 'Oswald', sans-serif;
    margin: 0;
  }

  /* Header */
  h1 {
    color: #4D5359;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 60px;
    margin-top: 0;
  }

  #pong {
    color: blue;
  }

#start {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* Start Up Menu*/
  #start > div {
    text-align: center;
    position: fixed;
    pointer-events: none;
    transition: .5s;
    transform: scale(.5);
    opacity: 0;
  }
  
  #start div.active {
    opacity: 1;
    transform: scale(1.2);
    pointer-events: auto;
    z-index: 1;
  }
  
  /* Game Display*/
  #start > #game {
    opacity: 1;
    transform: scale(1);
    z-index: 0;
  }
  
  #start > div.active ~ #game {
    opacity: .75;
    transform: scale(1);
    filter: blur(8px);
  }
  /* Interactive Buttons*/
  button {
    background-color: #4D5359;
    font-family: 'Oswald', sans-serif;
    color: #F5F5F5;
    border: 0;
    border-radius: 150px;
    padding: 8px 18px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 14px;
    min-width: 150px;
    opacity: .75;
    transition: .25s;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.6;
  }
  